@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  font-family: "NanumSquare", sans-serif;
}

.title {
  font-weight: 700;
  font-size: 24px;
  color: #525252;
  text-align: left;
  margin-bottom: 2%;
  @media only screen and (max-width: 500px) {
    margin-bottom: 0;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: 10%;
  text-align: center;
}

.loadingbox {
  margin: 2.5% 0 0 0;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zone{
    height:100%;
    width:100%;
}

