@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.title{
    font-weight: 700;
    font-size: 25px;
    color: #3E3E3E;
    text-align: left;
}
.button{
    display:flex;    
    justify-content: center;
    align-items: center;
    width:80%;
    height:80%;
    margin:10%;
    text-align:center;
}